<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lwlizhe.library.video" >

    <application>

        <activity android:name="com.lwlizhe.video.mvp.ui.activity.VideoPlayerActivity"
            android:screenOrientation="landscape">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->
            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="com.lwlizhe.video.mvp.ui.activity.VideoIntroductionActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.lwlizhe.video.mvp.ui.activity.VideoWebPlayerActivity"
            android:screenOrientation="landscape">

        </activity>
    </application>


</manifest>
