<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lwlizhe.library.video" >

    <application>
        <activity android:name="com.lwlizhe.video.mvp.ui.activity.VideoPlayerActivity"
            android:screenOrientation="landscape">

        </activity>
    </application>


</manifest>
